In [176]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
from datetime import date
from datetime import datetime
import unidecode
import re

%matplotlib inline

In [177]:
all_players = pd.read_csv('../DATA/gpt_food.csv')
players_stats = pd.read_csv('../DATA/player_stats.csv')

In [178]:
all_players.head(2)

,Unnamed: 0,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,0,231747,24,k. mbappe,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,1,239085,24,e. haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3

In [185]:
players_stats.head(2)

,Unnamed: 0,id,name,overall,pace,shooting,passing,dribbling,defense,physical
0,0,231747,kylian mbappe,91,97,90,80,92,36,78
1,1,239085,erling haaland,91,89,93,66,80,45,88

In [180]:
#normalize name
all_players['long_name'] = all_players['long_name'].str.lower()
all_players['long_name'] = all_players['long_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
all_players.rename(columns = {'long_name':'name', 'player_id':'id'}, inplace = True)
all_players = all_players.drop(columns = ['Unnamed: 0'])
all_players.head()

,id,fifa_version,short_name,name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,k. mbappe,kylian mbappe lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,e. haaland,erling braut haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3
2,192985,24,k. de bruyne,kevin de bruyne,"CM, CAM",91,91,103000000.0,350000.0,32,...,80+3,80+3,80+3,79+3,75+3,70+3,70+3,70+3,75+3,21+3
3,158023,24,l. messi,lionel andres messi cuccittini,"CF, CAM",90,90,41000000.0,23000.0,36,...,63+3,63+3,63+3,64+3,59+3,49+3,49+3,49+3,59+3,19+3
4,165153,24,k. benzema,karim benzema,"CF, ST",90,90,51000000.0,95000.0,35,...,64+3,64+3,64+3,64+3,60+3,55+3,55+3,55+3,60+3,18+3

In [183]:
to_merge = all_players[['id', 'player_positions', 'club_position', 'value_eur', 'wage_eur', 'club_name', 'preferred_foot', 'player_tags', 'player_traits']]
to_merge

,id,player_positions,club_position,value_eur,wage_eur,club_name,preferred_foot,player_tags,player_traits
0,231747,"ST, LW",LW,181500000.0,230000.0,Paris Saint Germain,Right,"#Speedster, #Dribbler, #Acrobat, #Clinical fin...","Quick Step +, Rapid, Flair, Trivela"
1,239085,ST,ST,185000000.0,340000.0,Manchester City,Left,"#Aerial threat, #Distance shooter, #Strength, ...","Acrobatic +, Power Header, Quick Step"
2,192985,"CM, CAM",SUB,103000000.0,350000.0,Manchester City,Right,"#Dribbler, #Playmaker, #Distance shooter, #Cro...","Pinged Pass +, Dead Ball, Incisive Pass, Long ..."
3,158023,"CF, CAM",RF,41000000.0,23000.0,Inter Miami,Left,"#Dribbler, #Playmaker, #FK Specialist, #Acroba...","Technical +, Finesse Shot, Dead Ball, Pinged P..."
4,165153,"CF, ST",RS,51000000.0,95000.0,Al Ittihad,Right,"#Poacher, #Aerial threat, #Clinical finisher, ...","Finesse Shot +, Dead Ball, Pinged Pass, Tiki T..."
...,...,...,...,...,...,...,...,...,...
18345,273759,CB,RES,100000.0,500.0,Jamshedpur,Left,NaN,NaN
18346,269013,CB,SUB,100000.0,1000.0,Meizhou Hakka,Right,NaN,NaN
18347,272748,ST,RES,100000.0,2000.0,Shandong Taishan,Right,NaN,NaN
18348,269534,CM,SUB,90000.0,1000.0,Zhejiang,Right,NaN,NaN
18349,269541,CDM,RES,70000.0,1000.0,Zhejiang,Right,NaN,NaN

In [187]:
combined = pd.merge(players_stats, to_merge, on = 'id', how = 'left')
combined = combined.drop(columns = ['Unnamed: 0'])
combined

,id,name,overall,pace,shooting,passing,dribbling,defense,physical,player_positions,club_position,value_eur,wage_eur,club_name,preferred_foot,player_tags,player_traits
0,231747,kylian mbappe,91,97,90,80,92,36,78,"ST, LW",LW,181500000.0,230000.0,Paris Saint Germain,Right,"#Speedster, #Dribbler, #Acrobat, #Clinical fin...","Quick Step +, Rapid, Flair, Trivela"
1,239085,erling haaland,91,89,93,66,80,45,88,ST,ST,185000000.0,340000.0,Manchester City,Left,"#Aerial threat, #Distance shooter, #Strength, ...","Acrobatic +, Power Header, Quick Step"
2,192985,kevin de bruyne,91,72,88,94,87,65,78,"CM, CAM",SUB,103000000.0,350000.0,Manchester City,Right,"#Dribbler, #Playmaker, #Distance shooter, #Cro...","Pinged Pass +, Dead Ball, Incisive Pass, Long ..."
3,158023,lionel messi,90,80,87,90,94,33,64,"CF, CAM",RF,41000000.0,23000.0,Inter Miami,Left,"#Dribbler, #Playmaker, #FK Specialist, #Acroba...","Technical +, Finesse Shot, Dead Ball, Pinged P..."
4,165153,karim benzema,90,79,88,83,87,39,78,"CF, ST",RS,51000000.0,95000.0,Al Ittihad,Right,"#Poacher, #Aerial threat, #Clinical finisher, ...","Finesse Shot +, Dead Ball, Pinged Pass, Tiki T..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15840,266249,cvl remtluanga,47,62,41,46,48,41,49,CM,SUB,100000.0,500.0,Odisha FC,Right,NaN,NaN
15841,269541,wu yuhang,47,56,34,43,45,43,51,CDM,RES,70000.0,1000.0,Zhejiang,Right,NaN,NaN
15842,269534,yin jie,47,57,37,46,46,38,57,CM,SUB,90000.0,1000.0,Zhejiang,Right,NaN,NaN
15843,272761,lyu jiaqiang,47,56,26,28,33,50,46,CB,SUB,100000.0,500.0,Shenzhen,Right,NaN,NaN
15844,272748,mijit mewlan,47,68,46,38,46,16,45,ST,RES,100000.0,2000.0,Shandong Taishan,Right,NaN,NaN

In [189]:
squad_name = ['Plymouth Argyle']
current_squad = combined.loc[combined['club_name'].isin(squad_name)]
current_squad

,id,name,overall,pace,shooting,passing,dribbling,defense,physical,player_positions,club_position,value_eur,wage_eur,club_name,preferred_foot,player_tags,player_traits
3304,240987,michael cooper,71,70,69,67,72,32,69,GK,SUB,3600000.0,7000.0,Plymouth Argyle,Right,NaN,Far Throw
3499,243353,bali mumba,71,84,60,65,73,64,58,"LM, LWB, RWB",LM,4200000.0,9000.0,Plymouth Argyle,Right,#Acrobat,"Technical, Flair, Quick Step"
5000,228366,macaulay gillesphey,69,53,41,53,57,68,77,CB,SUB,1300000.0,8000.0,Plymouth Argyle,Left,NaN,"Long Ball Pass, Jockey, Block, Aerial"
5317,252066,finn azaz,69,74,64,66,69,57,68,"RM, LM, CAM",LCM,3100000.0,27000.0,Plymouth Argyle,Right,NaN,"Pinged Pass, Technical"
5444,222576,pleguezuelo,69,78,35,57,69,69,66,CB,SUB,1500000.0,8000.0,Plymouth Argyle,Right,NaN,Aerial
5458,237943,dan scarr,69,52,40,46,51,68,81,CB,RCB,1300000.0,8000.0,Plymouth Argyle,Right,NaN,"Power Header, Long Ball Pass, Intercept, Antic..."
6293,192231,joe edwards,68,68,59,63,66,63,75,"RWB, LWB, RB",RB,825000.0,7000.0,Plymouth Argyle,Right,#Engine,"Finesse Shot, Relentless"
7893,226084,ryan hardie,66,86,64,48,64,24,61,ST,ST,1100000.0,6000.0,Plymouth Argyle,Right,NaN,"Finesse Shot, Flair"
7897,213665,jordan houghton,66,59,51,64,61,62,75,"CDM, CM",CDM,925000.0,5000.0,Plymouth Argyle,Right,NaN,Long Ball Pass
8085,253461,luke cundle,66,67,58,65,66,52,48,"CM, CAM, RW",SUB,1900000.0,12000.0,Plymouth Argyle,Right,NaN,First Touch
8424,251306,adam randell,66,76,62,65,69,63,69,CM,RCM,1700000.0,5000.0,Plymouth Argyle,Right,NaN,Long Ball Pass
8468,252796,morgan whittaker,66,74,65,58,67,38,60,"RM, RW",RM,1900000.0,5000.0,Plymouth Argyle,Left,NaN,NaN
8472,242423,callum wright,66,67,61,64,67,57,67,CM,SUB,1900000.0,5000.0,Plymouth Argyle,Right,NaN,Pinged Pass
8915,230876,matt butcher,65,58,62,63,62,62,76,"CM, CDM",SUB,925000.0,5000.0,Plymouth Argyle,Left,NaN,NaN
8956,242289,conor hazard,65,65,66,64,67,24,65,GK,GK,775000.0,3000.0,Plymouth Argyle,Left,NaN,NaN
8975,261335,kaine kesler-hayden,65,78,48,58,64,59,60,"RWB, RB, LB",LB,1600000.0,11000.0,Plymouth Argyle,Right,NaN,"Slide Tackle, Technical"
9730,240496,lewis gibson,64,60,33,49,57,65,65,CB,LCB,1200000.0,3000.0,Plymouth Argyle,Left,NaN,Long Ball Pass
10044,266871,lewis warrington,64,66,51,61,65,60,60,"CDM, CM",RES,1200000.0,6000.0,Plymouth Argyle,Right,NaN,NaN
10109,209852,brendan galloway,64,69,37,54,59,63,66,CB,SUB,600000.0,4000.0,Plymouth Argyle,Left,NaN,NaN
10244,245539,ben waine,64,79,64,56,63,44,74,ST,SUB,1300000.0,4000.0,Plymouth Argyle,Right,NaN,Finesse Shot
10737,270376,saxon earley,63,77,34,57,64,55,54,"LWB, LB",RES,675000.0,2000.0,Plymouth Argyle,Left,NaN,Long Throw
10796,242322,mickel miller,63,83,60,58,65,55,58,"LWB, LM",SUB,500000.0,4000.0,Plymouth Argyle,Left,NaN,NaN
10909,222095,callum burton,63,65,62,60,65,43,59,GK,SUB,425000.0,3000.0,Plymouth Argyle,Right,NaN,NaN
11445,260473,tyreik wright,63,85,55,57,61,40,48,"LM, RM",SUB,1100000.0,3000.0,Plymouth Argyle,Left,NaN,Rapid
15645,277430,zak baker,51,51,57,50,56,28,44,GK,RES,170000.0,500.0,Plymouth Argyle,Right,NaN,NaN
15726,268606,freddie issaka,50,72,50,39,52,18,47,ST,RES,120000.0,550.0,Plymouth Argyle,Right,NaN,NaN
15801,272465,caleb roberts,49,64,41,50,54,34,47,CM,RES,110000.0,500.0,Plymouth Argyle,Right,NaN,NaN

In [191]:
len(current_squad)

27

In [193]:
current_squad.to_csv('../ChatGPT/test_squad.csv')
combined.to_csv('../ChatGPT/combined.csv')