In [1]:
import requests
from bs4 import BeautifulSoup as bs
from IPython.core.display import HTML
import pandas as pd
import re

In [2]:
# URL of the page to scrape
url = 'https://www.ea.com/games/ea-sports-fc/ratings?orderBy=rank&gender=0&query=gender%3D0%26orderBy%3Drank&page=1'

# Make a request to fetch the HTML content of the page
response = requests.get(url)

In [15]:
# Base URL and page range
base_url = "https://www.ea.com/games/ea-sports-fc/ratings?orderBy=rank&gender=0&query=gender%3D0%26orderBy%3Drank&page="
start_page = 1
end_page = 174

# Initialize empty lists for player stats and player info
all_player_stats = []
all_players = []

# Loop through each page
for page in range(start_page, end_page + 1):
    url = f"{base_url}{page}"
    response = requests.get(url)
    print(f"Processing page: {page}")
    
    if response.status_code == 200:
        soup = bs(response.content, 'html.parser')
        
        # Scrape the player stats table
        table = soup.find('table', attrs={'class':'Table_table__dpnEU'})
        if table:
            current_page_stats = pd.read_html(str(table))[0]
            all_player_stats.append(current_page_stats)
        
        # Scrape player IDs and names
        player_links = soup.find_all('a', class_='Table_profileCellAnchor__L23hq')
        for link in player_links:
            href = link['href']
            player_id = href.split('/')[-1]
            player_name = link.text.strip()
            all_players.append({'id': player_id, 'name': player_name})
        
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")
        break

# Concatenate all DataFrames in the list into a single DataFrame for player stats
final_player_stats_df = pd.concat(all_player_stats, ignore_index=True)

# Convert the list of player info dictionaries to a DataFrame
all_players_df = pd.DataFrame(all_players)

# Display results
print(f"Total player stats collected: {len(final_player_stats_df)}")
print(f"Total players collected: {len(all_players_df)}")

Processing page: 1
Processing page: 2
Processing page: 3
Processing page: 4
Processing page: 5
Processing page: 6
Processing page: 7
Processing page: 8
Processing page: 9
Processing page: 10
Processing page: 11
Processing page: 12
Processing page: 13
Processing page: 14
Processing page: 15
Processing page: 16
Processing page: 17
Processing page: 18
Processing page: 19
Processing page: 20
Processing page: 21
Processing page: 22
Processing page: 23
Processing page: 24
Processing page: 25
Processing page: 26
Processing page: 27
Processing page: 28
Processing page: 29
Processing page: 30
Processing page: 31
Processing page: 32
Processing page: 33
Processing page: 34
Processing page: 35
Processing page: 36
Processing page: 37
Processing page: 38
Processing page: 39
Processing page: 40
Processing page: 41
Processing page: 42
Processing page: 43
Processing page: 44
Processing page: 45
Processing page: 46
Processing page: 47
Processing page: 48
Processing page: 49
Processing page: 50
Processing page: 51
Processing page: 52
Processing page: 53
Processing page: 54
Processing page: 55
Processing page: 56
Processing page: 57
Processing page: 58
Processing page: 59
Processing page: 60
Processing page: 61
Processing page: 62
Processing page: 63
Processing page: 64
Processing page: 65
Processing page: 66
Processing page: 67
Processing page: 68
Processing page: 69
Processing page: 70
Processing page: 71
Processing page: 72
Processing page: 73
Processing page: 74
Processing page: 75
Processing page: 76
Processing page: 77
Processing page: 78
Processing page: 79
Processing page: 80
Processing page: 81
Processing page: 82
Processing page: 83
Processing page: 84
Processing page: 85
Processing page: 86
Processing page: 87
Processing page: 88
Processing page: 89
Processing page: 90
Processing page: 91
Processing page: 92
Processing page: 93
Processing page: 94
Processing page: 95
Processing page: 96
Processing page: 97
Processing page: 98
Processing page: 99
Processing page: 100
Processing page: 101
Processing page: 102
Processing page: 103
Processing page: 104
Processing page: 105
Processing page: 106
Processing page: 107
Processing page: 108
Processing page: 109
Processing page: 110
Processing page: 111
Processing page: 112
Processing page: 113
Processing page: 114
Processing page: 115
Processing page: 116
Processing page: 117
Processing page: 118
Processing page: 119
Processing page: 120
Processing page: 121
Processing page: 122
Processing page: 123
Processing page: 124
Processing page: 125
Processing page: 126
Processing page: 127
Processing page: 128
Processing page: 129
Processing page: 130
Processing page: 131
Processing page: 132
Processing page: 133
Processing page: 134
Processing page: 135
Processing page: 136
Processing page: 137
Processing page: 138
Processing page: 139
Processing page: 140
Processing page: 141
Processing page: 142
Processing page: 143
Processing page: 144
Processing page: 145
Processing page: 146
Processing page: 147
Processing page: 148
Processing page: 149
Processing page: 150
Processing page: 151
Processing page: 152
Processing page: 153
Processing page: 154
Processing page: 155
Processing page: 156
Processing page: 157
Processing page: 158
Processing page: 159
Processing page: 160
Processing page: 161
Processing page: 162
Processing page: 163
Processing page: 164
Processing page: 165
Processing page: 166
Processing page: 167
Processing page: 168
Processing page: 169
Processing page: 170
Processing page: 171
Processing page: 172
Processing page: 173
Processing page: 174
Total player stats collected: 63380
Total players collected: 15845

In [76]:
stats = pd.read_html(str(soup.find('table', attrs={'class':'Table_table__dpnEU'})))[0]
stats

,Rank,PLAYER,NAT,TEAM,POS,Overall,PAC,SHO,PAS,DRI,DEF,PHY,Unnamed: 12,Unnamed: 13
0,1,Kylian Mbapp√©ST,NaN,NaN,ST,Overall91,PAC97,SHO901,PAS80,DRI92,DEF36,PHY782,NaN,Overall91PAC97SHO901PAS80DRI92DEF36PHY782
1,Overall91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAC97,SHO901,PAS80,DRI92,DEF36,PHY782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,NaN
4,3,Erling HaalandST,NaN,NaN,ST,Overall91,PAC89,SHO932,PAS661,DRI80,DEF454,PHY881,NaN,Overall91PAC89SHO932PAS661DRI80DEF454PHY881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,WEAK FOOTSKILL MOVESATT WORK RATEMediumDEF WOR...,NaN
396,147,Isma√´l BennacerCDM,NaN,NaN,CDM,Overall84,PAC803,SHO724,PAS811,DRI86,DEF792,PHY782,NaN,Overall84PAC803SHO724PAS811DRI86DEF792PHY782
397,Overall84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,PAC803,SHO724,PAS811,DRI86,DEF792,PHY782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,WEAK FOOTSKILL MOVESATT WORK RATEHighDEF WORK ...,NaN

In [148]:
# Base URL and page range
base_url = "https://www.ea.com/games/ea-sports-fc/ratings?orderBy=rank&gender=0&query=gender%3D0%26orderBy%3Drank&page="
start_page = 1
end_page = 174

# Initialize a list to hold all player data including stats and IDs
all_player_data = []

# Loop through each page
for page in range(start_page, end_page + 1):
    url = f"{base_url}{page}"
    response = requests.get(url)
    print(f"Processing page: {page}")
    
    if response.status_code == 200:
        soup = bs(response.content, 'html.parser')
        
        # Scrape player IDs, names, and stats
        player_rows = soup.find_all('tr')  # Assuming player data is within table rows (<tr> elements)
        
        for row in player_rows:
            # Extract the link for player ID and name
            link = row.find('a', class_='Table_profileCellAnchor__L23hq')
            if link:
                href = link['href']
                player_id = href.split('/')[-1]
                player_name = link.text.strip()
                
                # Extract stats from the same row
                # Assuming stats are in <td> elements and have a specific class or identifiable pattern
                # This is a placeholder; you'll need to adjust it based on the actual structure
                stats = [td.text for td in row.find_all('tbody', class_='Table_rowBlockWrapper__hA8k0')]
                
                # Combine ID, name, and stats into a dictionary and append to the list
                player_data = {'id': player_id, 'name': player_name, 'stats': stats}  # Add more keys as needed based on the stats you extract
                all_player_data.append(player_data)
        
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")
        break

# Convert the list of dictionaries to a DataFrame
players = pd.DataFrame(all_player_data)

# Optional: Expand the 'stats' list into separate columns if necessary
# This step depends on how you want to structure your DataFrame and the nature of the stats

# Display results
print(f"Total players and stats collected: {len(players)}")

Processing page: 1
Processing page: 2
Processing page: 3
Processing page: 4
Processing page: 5
Processing page: 6
Processing page: 7
Processing page: 8
Processing page: 9
Processing page: 10
Processing page: 11
Processing page: 12
Processing page: 13
Processing page: 14
Processing page: 15
Processing page: 16
Processing page: 17
Processing page: 18
Processing page: 19
Processing page: 20
Processing page: 21
Processing page: 22
Processing page: 23
Processing page: 24
Processing page: 25
Processing page: 26
Processing page: 27
Processing page: 28
Processing page: 29
Processing page: 30
Processing page: 31
Processing page: 32
Processing page: 33
Processing page: 34
Processing page: 35
Processing page: 36
Processing page: 37
Processing page: 38
Processing page: 39
Processing page: 40
Processing page: 41
Processing page: 42
Processing page: 43
Processing page: 44
Processing page: 45
Processing page: 46
Processing page: 47
Processing page: 48
Processing page: 49
Processing page: 50
Processing page: 51
Processing page: 52
Processing page: 53
Processing page: 54
Processing page: 55
Processing page: 56
Processing page: 57
Processing page: 58
Processing page: 59
Processing page: 60
Processing page: 61
Processing page: 62
Processing page: 63
Processing page: 64
Processing page: 65
Processing page: 66
Processing page: 67
Processing page: 68
Processing page: 69
Processing page: 70
Processing page: 71
Processing page: 72
Processing page: 73
Processing page: 74
Processing page: 75
Processing page: 76
Processing page: 77
Processing page: 78
Processing page: 79
Processing page: 80
Processing page: 81
Processing page: 82
Processing page: 83
Processing page: 84
Processing page: 85
Processing page: 86
Processing page: 87
Processing page: 88
Processing page: 89
Processing page: 90
Processing page: 91
Processing page: 92
Processing page: 93
Processing page: 94
Processing page: 95
Processing page: 96
Processing page: 97
Processing page: 98
Processing page: 99
Processing page: 100
Processing page: 101
Processing page: 102
Processing page: 103
Processing page: 104
Processing page: 105
Processing page: 106
Processing page: 107
Processing page: 108
Processing page: 109
Processing page: 110
Processing page: 111
Processing page: 112
Processing page: 113
Processing page: 114
Processing page: 115
Processing page: 116
Processing page: 117
Processing page: 118
Processing page: 119
Processing page: 120
Processing page: 121
Processing page: 122
Processing page: 123
Processing page: 124
Processing page: 125
Processing page: 126
Processing page: 127
Processing page: 128
Processing page: 129
Processing page: 130
Processing page: 131
Processing page: 132
Processing page: 133
Processing page: 134
Processing page: 135
Processing page: 136
Processing page: 137
Processing page: 138
Processing page: 139
Processing page: 140
Processing page: 141
Processing page: 142
Processing page: 143
Processing page: 144
Processing page: 145
Processing page: 146
Processing page: 147
Processing page: 148
Processing page: 149
Processing page: 150
Processing page: 151
Processing page: 152
Processing page: 153
Processing page: 154
Processing page: 155
Processing page: 156
Processing page: 157
Processing page: 158
Processing page: 159
Processing page: 160
Processing page: 161
Processing page: 162
Processing page: 163
Processing page: 164
Processing page: 165
Processing page: 166
Processing page: 167
Processing page: 168
Processing page: 169
Processing page: 170
Processing page: 171
Processing page: 172
Processing page: 173
Processing page: 174
Total players and stats collected: 15845

In [149]:
players.head(2)

       id            name                                          stats
0  231747   Kylian Mbapp√©    [Overall91PAC97SHO901PAS80DRI92DEF36PHY782]
1  239085  Erling Haaland  [Overall91PAC89SHO932PAS661DRI80DEF454PHY881]

In [151]:
# If the stats column contains lists with a single string element, convert them to strings
players['stats'] = players['stats'].apply(lambda x: x[0] if isinstance(x, list) else x)

# Replace specified text with 1 space, and remove square brackets
players['stats'] = players['stats'].str.replace(r'\[|\]', '', regex=True)  # Remove square brackets
players['stats'] = players['stats'].str.replace(r'(Overall|PAC|SHO|PAS|DRI|DEF|PHY)', ' ', regex=True)

# Remove leading/trailing spaces and reduce any multiple spaces to a single space
players['stats'] = players['stats'].str.strip()
players['stats'] = players['stats'].str.replace(r'\s+', ' ', regex=True)

players.head()

       id             name                     stats
0  231747    Kylian Mbapp√©    91 97 901 80 92 36 782
1  239085   Erling Haaland  91 89 932 661 80 454 881
2  192985  Kevin De Bruyne  91 722 88 941 87 651 781
3  158023     Lionel Messi   90 801 872 90 94 331 64
4  165153    Karim Benzema     90 791 88 83 87 39 78

In [152]:
#create list of column names
stats_columns = ['overall', 'pace', 'shooting', 'passing', 'dribbling', 'defense', 'physical']
#use split method to separate numbers based on the empty space delimiter
players[stats_columns] = players['stats'].str.split(' ', expand = True)
players = players.drop(['stats'], axis = 1)

players

,id,name,overall,pace,shooting,passing,dribbling,defense,physical
0,231747,Kylian Mbapp√©,91,97,901,80,92,36,782
1,239085,Erling Haaland,91,89,932,661,80,454,881
2,192985,Kevin De Bruyne,91,722,88,941,87,651,781
3,158023,Lionel Messi,90,801,872,90,94,331,64
4,165153,Karim Benzema,90,791,88,83,87,39,78
...,...,...,...,...,...,...,...,...,...
15840,266249,CVL Remtluanga,47,62,41,46,48,41,49
15841,269541,Wu Yuhang,47,56,34,43,45,43,51
15842,269534,Yin Jie,47,57,37,46,46,38,57
15843,272761,Lyu Jiaqiang,47,56,26,28,33,50,46
15844,272748,Mijit Mewlan,47,68,46,38,46,16,45

In [154]:
#in the EF FC website where the data was scraped, there is an extra number in the stat fields indicating change since last update
#this is to address and remove that

def trim_digits(val):
    #convert value to string, in case it isn't already
    val_str = str(val)
    #if the value has more than 2 digits, trim it to first 2 digits
    if len(val_str) > 2:
        return val_str[:2]
    else:
        return val_str
    
to_trim = ['overall', 'pace', 'shooting', 'passing', 'dribbling', 'defense', 'physical']    
players[to_trim] = players[to_trim].applymap(trim_digits)

players.head(2)

,id,name,overall,pace,shooting,passing,dribbling,defense,physical
0,231747,Kylian Mbapp√©,91,97,90,80,92,36,78
1,239085,Erling Haaland,91,89,93,66,80,45,88

In [156]:
#normalize names in key DF to remove special characters
players['name'] = players['name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
players['name'] = players['name'].str.lower()
players.head(2)

,id,name,overall,pace,shooting,passing,dribbling,defense,physical
0,231747,kylian mbappe,91,97,90,80,92,36,78
1,239085,erling haaland,91,89,93,66,80,45,88

In [158]:
players.to_csv('..\ChatGPT\player_stats.csv')